@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #030203;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #64CCC5;
    --cor-hover: #176B87;
    --destaque-hover: #176B87;
    --cor-menu: #176B87;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    flex-direction: row;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-menu);
    padding: px;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__curriculo {
    padding: 5% 10%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__about {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__titulo:hover {
    color: var(--cor-hover);
}

.apresentacao__conteudo__texto a {
    text-decoration: none;
    color: var(--cor-terciaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.titulo-destaque:hover {
    color: var(--destaque-hover);
    padding:0px;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px outset var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    margin: 2.5px 3px;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    padding: 1.5rem 3px;
    margin:0;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;  
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__certificados {
    color: var(--cor-secundaria);
}

.apresentacao__links__certificados:hover {
    color: var(--destaque-hover);
    padding: 4px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}